.air-plane {

    position: absolute;
   transform: rotateY(-180deg);
    opacity: 0;
}

.start-fly {

    animation: fly 3s ease-in; 
    
}

@keyframes fly {

    from { right: -510px; top: 60%; opacity: 1; }
    to { right: 100vw; top: 20%; opacity: 1;}
   

}