.air-plane {

    position: absolute;
    left: 50px;
    transform: rotateY(180deg);
    opacity: 0;
}

.start-fly {

    animation: fly 2.6s linear; 
    
}

@keyframes fly {

    from { left: 60vw; top: 50%; opacity: 0.8; }
    to { left: -500px; top: 20%; opacity: 0.4;}
   

}