.footer {

    display: grid;
    grid-template-areas: 'title title title'
                         'item1 item2 item3';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffc93c;
    color: #222;
}



.footer-top {
    padding-top: 20px;
    font-size: 1.2rem;
    grid-area: title;
}

.footer-top::after {

    content: '';
    display: block;
    margin: 15px auto;
    width: 95vw;
    height: 1px;
    background:white;
}

h2 {
    font-size: 1.6rem;
    margin-left: 30px;

}

.foter-item1{
    grid-area: item1;
}
.foter-item2{
    grid-area: item2;
}
.foter-item3{
    grid-area: item3;
}

.footer-item1, .footer-item2, .footer-item3 {

    justify-self: first baseline;
    margin-left: 30px;

}


.footer-subtitle {

    margin-bottom: 10px;

}

ul > li , p{

    list-style-type: none;
    font-weight: bold;
    font-size: .8rem;
}