.air-plane {

    position: absolute;
    right: -510px;
    top: 500px;
    transform: rotateY(-180deg);
    
}

.start-fly {

    animation: fly 3s ease-in; 
    
}

@keyframes fly {

    from { right: -510px; top: 500px; }
    to { right: 100vw; top: 20%; }
   

}